.right-content>form>button {
	margin-left: 15px;
	cursor: pointer;
	background-color: #175206;
	outline: none;
	border-radius: 5px;
	padding: 10px 15px;
	display: inline-block;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 0.4px;
	text-decoration: none;
	transition: all 0.5s;
	box-shadow: none;
	border: none;
}

.right-content>form>button:first-child{
    margin-left: 0px;
}
