{% extends 'base.html' %}
{% load static %}

{% block title %} Plantary Diary {% endblock %}

{% block tab %}
<a class="nav-link shadow" href="{% url 'home' %}">홈</a>

{% if user.is_authenticated %}
<a class="nav-link shadow" href="{% url 'mylist' %}" role="tab" aria-selected="false">나의일지</a>
{% else %}
<a class="nav-link shadow" role="tab" aria-selected="false" data-toggle="modal" data-target="#staticBackdrop">나의 일지</a>
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title txt-center" id="staticBackdropLabel">잠깐!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        로그인 하셔야 합니다
      </div>

    </div>
  </div>
</div>

{% endif %}

<a class="nav-link shadow" href="{% url 'ourdiary' %}" role="tab" aria-selected="false">모두의 일지</a>

<a class="nav-link shadow" href="{% url 'storemain' %}" role="tab" aria-selected="false">상점</a>

<a class="nav-link shadow" href="{% url 'storemain' %}" role="tab" aria-selected="false">돌봄 서비스</a>
{% endblock %}

{% block contents %}

<div class="container">
  <form method="POST" action="{%url 'create' %}" enctype="multipart/form-data">
    {% csrf_token %}

    <input type="text" name="title" style="width: 100%; margin-bottom: 1rem" placeholder="제목">
    <br>
    <textarea rows=20 name="body" style="overflow-y:scroll; width: 100%" placeholder="반려식물의 일상을 남겨주세요"></textarea>
    <br>
    <input type="file" name="imgs" multiple required>
    <input class="btn btn-warning" type="submit" value="제출하기" style="float: right">
  </form>
</div>
{% endblock %}