{% block container %}
<div class="container">
    <div class="row">
        <div class="col-3">
            <h1> 
            {% if current_user.profile.image %}
            <img src="{{ profile.images.url }}" width= 70, 
                 alt="{{ profile.images}}">
            {% else %}
                <img src = "{{MEDIA_URL}} profile/images/pngegg.jpg">

            {%endif%}
            {{ current_user.profile.nickname }}
            </h1>
        </div>
        <div class="col-9">
           
            <div>
                {{ current_user.profile.description }}
            </div>
        </div>
    </div>
    
    {% if user == current_user%}
    <div>
        <a href="{% url 'profile_update' %}">프로필 수정</a>
    {% endif %}
{% endblock %}
